version: 2.1

commands:
  prepare:
    steps:
      - checkout
      - run: mkdir -p /tmp/test-results
      - restore_cache:
          keys:
            - go-mod-v5-{{ checksum "go.sum" }}

      - run:
          name: Install test dependencies
          command: |
            cd /; GO111MODULE=on go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.30.0

      - run:
          name: Download vendors
          command: |
            go mod vendor

      - save_cache:
          key: go-mod-v5-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

jobs:
  test:
    docker:
      - image: circleci/golang:1.15
    parallelism: 1

    steps:
      - prepare

      - run:
          name: Check that source files have license header
          command: make test-license

      - run:
          name: Run linting
          command: make lint

      - run:
          name: Run unit tests
          command: |
            PACKAGE_NAMES=$(go list ./... | circleci tests split --split-by=timings --timings-type=classname)
            gotestsum --junitfile /tmp/test-results/gotestsum-report.xml -- $PACKAGE_NAMES

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results

  test-api:
    docker:
      - image: circleci/golang:1.15
    parallelism: 1

    steps:
      - prepare

      - run:
          name: Run unit tests
          command: |
            GOFER_TEST_API_CALLS=1 gotestsum --junitfile /tmp/test-results/gotestsum-report.xml -- ./exchange/... -testify.m TestRealAPICall

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results

workflows:
  version: 2

  test:
    jobs:
      - test

  test-api:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - test-api
